:root {
    --pink: #f14e95;
    --bg: #0a0a0a;
    --shadow: 0 2px 2px rgb(0 0 0 / 0.5);
}

body {
    font-size: 1.2rem;
    font-family: "Nunito", sans-serif;
    min-height: 1980px;
}

.hero::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url(Cover\ \(5\).png);
    background-size: cover;
    background-position: center;
    z-index: -1;
}

.hero {
    position: relative;
    min-height: 100vh;
}

.hero h2 {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: #0a0a0a;
    text-align: right;
    margin-bottom: 5rem;
}
.hero h4 {
  font-family: Georgia, 'Times New Roman', Times, serif;
  color: #0394d9;
  font-size: 1.3rem;
  margin-left: 2rem;
}

.hero h3 {
    font-style: italic;
    text-align: left;
    margin-top: 10rem;
    margin-left: 2rem;
    position: absolute;
    font-size: 3.4rem;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: #0394d9;
    box-shadow: 0px 5px #0a0a0a;
    text-shadow: 5px 5px 50px #91e9ff;
}

.hero p {
    margin-top: 15.3rem;
    margin-left: 2rem;
    font-size: 0.9rem;
}

.logo {
    size: 5px;
}

.home {
    min-height: 100vh;
    margin-top: -5rem;
    padding-top: 15rem;
    padding-bottom: 5rem;
}

.home {
    position: relative;
    width: 100%;
    height: 100%;
    background-image: url(cover6.png);
    background-size: cover;
    background-position: center;
    z-index: -1;
}

.home h2 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-decoration: underline;
    color: white;
    text-shadow: 5px 5px 5px #0a0a0a;
}

.home p {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.navbar {
    background-color: rgba(130, 233, 254, 0.311) !important;
    backdrop-filter: blur(4px);
}

.mynavbar .offcanvas {
    height: 50vh;
}

.mynavbar .navbar-brand, .mynavbar .offcanvas-title {
    font-family: 'Courier New', Courier, monospace;
    font-size: 1.5rem;
    font-weight: 250;
}

.mynavbar .nav-link {
    font-weight: 300;
    text-transform: uppercase;
}

.info {
    position: relative;
    background-image: url(Cover\ \(8\).png);
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    z-index: -1;
}

.info h2 {
    font-family: 'Courier New', Courier, monospace;
    color: wheat;
}

.info p {
    margin-top: 3.5rem;
    text-align: justify;
    font-family: Arial, Helvetica, sans-serif;
    color: wheat;
    text-align: justify;
}

.info i {
    margin-left: 5rem;
    font-size: 15px;
    overflow-x: hidden;
}

.info {
    position: relative;
    background-image: url(Cover\ \(8\).png);
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    z-index: -1;
}




.footer{
    padding: 3rem;
    background-image: url(Cover\ \(8\).png);
    color: white;
    width: 100%;
    text-align: center;
    color: #0a0a0a;
    height: 30%;
}

.footer a{
    color: black;
    text-decoration: none;
    text-decoration: underline;
}

.footer h3 {
    text-decoration: underline;
    text-align: justify;
    font-family: 'Courier New', Courier, monospace;
}

.footer p {
    text-align: justify;
    font-size: 17px;
    font-family: 'Times New Roman', Times, serif;
}

.footer small {
    font-family: Georgia, 'Times New Roman', Times, serif;
    
}


